*.swp
*.swo
.venv
__pycache__
.pytest_cache
**/tests/data
model.pth
**.pth
build
**/ready.egg-info/
uv.lock

## scripts
analyze.py
bar_plot_avg_datewise.py
convert_video_to_gxf_entities.py
gxf_entity_codec.py
log_parser.py
app_perf_graph.py

## videos, models, and files
*.json
**.gxf_entities
**.gxf_index
**.mp4
**/*_duplicated_frames*
video_frames**
video_30_duplicated_frames_of_validation-026580**
**.NVIDIARTXA20008GBLaptopGPU.8.6.20.trt.8.6.1.6.engine.fp32
**.NVIDIARTXA20008GBLaptopGPU.8.6.20.trt.8.6.1.6.engine.fp16
**.NVIDIARTXA20008GBLaptopGPU.8.6.20.trt.10.3.0.26.engine.fp32
logger.log
**.onnx
**.tar.gz


##webrtc_client
MyCertificate.crt
MyKey.key
data/mobious/models/loss_values_**

## flow_benchmarking
**avg_values**.csv
**max_values**.csv
**stddev_values**.csv
**logger**.log
**cdf_curve**.png
**avg_values**.png
**avg_plot_**.png
**live_app_graph**.dot

datasets/